<div class="content mt-4">
    <button id="orangeBtn" type="button" class="btn btn-primary" download="Data.csv" onclick="ExportEmployees()">Export Data</button>

    <table id="EmployeeTable" class="table table-striped data-table">
    <thead>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Business Unit</td>
        <td>City</td>
        <td>State</td>
        <td>Title</td>
        <td>Licenses</td>
        <td>Skill</td>
        <td>Skill Level</td>
    </thead>

    {% for employee in employeeList %}
    <!-- A List of tuples so row is each item in the list
            and then the index is the column number.-->
        <tr>
            <td>{{employee['FirstName']}}</td>
            <td>{{employee['LastName']}}</td>
            <td>{{employee['BusinessUnit']}}</td>
            <td>{{employee['City']}}</td>
            <td>{{employee['StateProvince']}}</td>
            <td>{{employee['CareerMatrixTitle']}}</td>
            <td>{{employee['RegisteredLicenses']}}</td>
            <td>{{employee['Skill']}}</td>
            <td>{{employee['SkillLevel']}}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<script>
    function ExportEmployees(){
        // Get rows in Employee Table
        var CSV_Rows = [];
        var OurTable = document.getElementById("EmployeeTable");
        var TableRows = OurTable.getElementsByTagName('tr');

        // Get Data from each row
        for (var i = 0; i < TableRows.length; i++) {
            var RowData = TableRows[i].getElementsByTagName('td');
            var RowDataArray = [];
            for(var j=0;j<RowData.length;j++){
                RowDataArray.push('"'+RowData[j].innerText+'"');
            }
            CSV_Rows.push(RowDataArray);
        }

        // Log data to help with debugging
        console.log('Found '+CSV_Rows.length+' rows of data in the table');
        console.log(CSV_Rows);

        // Build CSV content by row
        let csvContent = "";
        CSV_Rows.forEach(function(rowArray) {
            let row = rowArray.join(",");
            csvContent += row + "\r\n";
        });
        console.log(csvContent)

        // Encode CSV contect and finalize download functionality
        var encodedContent = "data:text/csv;charset=utf-8;base64," + window.btoa(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedContent);
        link.setAttribute("download", "EmployeeData.csv");
        document.body.appendChild(link); 
        link.click(); 
    }

    
</script>