{%extends 'generalPageStyledLeftColumn.html'%}

{%block mainBlock%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Update</h1>
        <p class="lead">Edit an employee from user or admin privilege.</p>
    </div>
</div>

<form id='myForm' onsubmit="return loadName()">
  <input type="hidden" name="id" value="{{data[0]}}">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>First Name</label>
      <input type="text" name="firstName" class="form-control" value="{{data[1]}}">
    </div>
    <div class="form-group col-md-6">
      <label>Last Name</label>
      <input type="text" name="lastName" class="form-control" value="{{data[2]}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Job Status</label>
      <select class="custom-select" name="jobStatus" value="{{data[3]}}">
        <option selected>Full-Time</option>
        <option>3/4-Time</option>
        <option>Part-Time</option>
      </select>
    </div>
    <div class="form-group col-md-6">
      <label>Business Unit</label>
      <input type="text" name="businessUnit" class="form-control" value="{{data[4]}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>City</label>
      <select class="custom-select" name="city" value="{{data[5]}}">
        {% for city in cities %}
        <option value="{{city[0]}}">{{city[0]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-6">
      <label>State/Province</label>
      <input type="text" name="state" class="form-control" value="{{data[6]}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Career Title</label>
      <input type="text" name="careerTitle" class="form-control" value="{{data[7]}}">
    </div>
    <div class="form-group col-md-6">
      <label>Total Years</label>
      <input type="text" name="totalYears" class="form-control" value="{{data[8]}}">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label>License</label>
      <select class="custom-select" name="licenses" value="{{data[9]}}">
        {% for license in licenses %}
        <option value="{{license[0]}}">{{license[0]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Skill</label>
      <select class="custom-select" name="skills" value="{{data[10]}}">
        {% for skills in skill %}
        <option value="{{skills[0]}}">{{skills[0]}}</option>
        {% endfor %}
      </select>
    </div>
    <div class="form-group col-md-4">
      <label>Skill Level</label>
      <input type="text" name="skillLevel" class="form-control" value="{{data[11]}}">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="isAvailable" value="{{data[14]}}">
      <label class="form-check-label">Is Available?</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<br><br><br><br><br><br>

<span id='txt'></span>

<script>
    function loadName() {
        var firstName = document.forms["myForm"]["firstName"].value;
        var lastName = document.forms["myForm"]["lastName"].value;
        var jobStatus = document.forms["myForm"]["jobStatus"].value;
        var businessUnit = document.forms["myForm"]["businessUnit"].value;
        var city = document.forms["myForm"]["city"].value;
        var state = document.forms["myForm"]["state"].value;
        var careerTitle = document.forms["myForm"]["careerTitle"].value;
        var totalYears = document.forms["myForm"]["totalYears"].value;
        var licenses = document.forms["myForm"]["licenses"].value;
        var skills = document.forms["myForm"]["skills"].value;
        var skillLevel = document.forms["myForm"]["skillLevel"].value;
        var isAvailable = document.forms["myForm"]["isAvailable"].value;
        params = 'firstName=' + firstName + '&lastName=' + lastName + '&jobStatus=' + jobStatus + '&businessUnit=' + businessUnit + '&city=' + city + '&state=' + state + '&careerTitle=' + careerTitle + '&totalYears=' + totalYears + '&licenses=' + licenses + '&skills=' + skills + '&skillLevel=' + skillLevel + '&isAvailable=' + isAvailable;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Employee/UpdateEmployee', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function () {
            if (xhttp.readyState === 4 && xhttp.status === 200) {
                console.log(xhttp.responseText);
                document.getElementById("txt").innerHTML = xhttp.responseText;
            } else {
                console.error(xhttp.statusText);
            }
        };
        xhttp.send(params);
        return false;
    }

</script>

{%endblock%}