{%extends 'generalPageStyled.html'%}


{%block mainBlock%}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Home Page</h1>
        <p class="lead">Welcome to the Trihydro employee database.</p>
    </div>
</div>

<h4>Employee Search</h4>
<a>Filter the entire employee database for the results you want, and see relevant employee locations on a map.</a>
<h4>User</h4>
<a>As a user you can edit your own information.</a>
<h4>Admin</h4>
<a>View employees to see the entire database and access the options to add, delete, or edit existing data. Or, you can directly add an employee.</a>
{%endblock%}
