{%extends 'generalPageStyledLeftColumn.html'%}


{%block mainBlock%}


<div class="row">
    <div class="col-sm-2">
        <div class="row">
            <div class="col">
                <form action="/FilterSearch" method="GET" id="filterForm">
                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter1" id="filterName">
                            Registered License
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter1">
                        {% for license in licenseData %}
                        <input type="checkbox" name="filter1" value="{{license[1]}}"> {{license[1]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter2">
                            Skill
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter2">
                        {% for skill in skillData %}
                        <input type="checkbox" name="filter2" value="{{skill[1]}}"> {{skill[1]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter3">
                            Skill Level
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter3">
                        {% for skillLevel in skillLevelData %}
                        <input type="checkbox" name="filter3" value="{{skillLevel[0]}}"> {{skillLevel[0]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter4">
                            States
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter4">
                        {% for location in locationData %}
                        <input type="checkbox" name="filter4" value="{{location[0]}}"> {{location[0]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter5">
                            Last Name
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter5">
                        <div class="form-group">
                            <input type="name" name="filter5" class="form-control" id="exampleFormControlInput1"
                                placeholder="Last Name">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-10">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#employeeList" role="tab" aria-controls="home"
                    aria-selected="true">Employee Results </a>
                <!-- <button class="btn btn-link">Test</button> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#map" role="tab" aria-controls="profile"
                    aria-selected="false">Map</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="employeeList" role="tabpanel" aria-labelledby="home-tab">
                <p>Table goes here</p>
            </div>
            <div class="tab-pane fade" id="map" role="map" aria-labelledby="profile-tab">
                <p>Map goes here</p>
                <div id="gmap"></div>
                <style type="text/css">
                    /* Set the size of the div element that contains the map */
                    #gmap {
                    height: 400px;
                    /* The height is 400 pixels */
                    width: 100%;
                    /* The width is the width of the web page */
                }
                </style>
                <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC6NvWQM2PeO3d6krxckoJEAPJaj9ErH1U&callback=initMap">
</script>
            </div>
        </div>
    </div>
</div>

<script>
    var dataTable = [];

    jQuery(document).ready(function ($) {


        function fetchResults(formId, elementId) {
            data = {};
            if (formId != '') {
                data = $(formId).serialize();
            }
            $.ajax({
                url: '/FilterSearch',
                type: 'GET',
                data: data,
                dataType: 'json',
                success: function (data) {
                    html = data.html;
                    $(elementId).html(html);
                    $(elementId).trigger('change');
                    parseRows(); // ideally read this from the json instead of the page
                },
                error: function (request, error) {
                    $(elementId).html('<div class="alert alert-danger mt-4">Request Failed</div>');
                }
            });
        }

        $('#filterForm input').click(function (e) {
            fetchResults('#filterForm', '#employeeList')
        });

        $('#employeeList').change(function () {
            console.log('Fix datatable');
            for (i = 0; i < dataTable.length; i++) {
                if (dataTable[i] != null) {
                    dataTable[i].destroy();
                }
                dataTable[i] = null;
            }
            let dataTableTemp = $('table.data-table').DataTable({
                searching: false,
                stateSave: true,
                fixedHeader: true,
                paging: false
            });
            dataTable.push(dataTableTemp);
        });


        // fetch results when page first loads
        fetchResults('#filterForm', '#employeeList')
    });

    var mapInitialized = false;
    var geocoder;
    var map;
    var locationToLatLong = new Map();
    var markers = new Array();

    function initMap() {
        populateHashmap(); // TODO read from an external file of some sort
        geocoder = new google.maps.Geocoder();
        console.log(geocoder);
        const wyo = { lat: 41.3114, lng: -105.5911 };
        // The map, centered at Laramie
        map = new google.maps.Map(document.getElementById("gmap"), {
            zoom: 4,
            center: wyo,
        });
        mapInitialized = true;
    }

    // preseed some locations to prevent hammering the Geocode api
    // ideally load these values from a database
    function populateHashmap() {
        locationToLatLong.set("laramie, wyoming", new google.maps.LatLng(41.3114, -105.5911));
        locationToLatLong.set("casper, wyoming", new google.maps.LatLng(42.8501, -106.3252));
        locationToLatLong.set("sheridan, wyoming", new google.maps.LatLng(44.7972, -106.9562));
        locationToLatLong.set("jackson, wyoming", new google.maps.LatLng(43.4799 -110.7624));
        locationToLatLong.set("cheyenne, wyoming", new google.maps.LatLng(41.1400, -104.8202));
        locationToLatLong.set("lander, wyoming", new google.maps.LatLng(42.8330, -108.7307));
        locationToLatLong.set("fort collins, colorado", new google.maps.LatLng(40.5853, -105.0844));
        locationToLatLong.set("boulder, colorado", new google.maps.LatLng(40.0150, -105.2705));
        locationToLatLong.set("santa clara, california", new google.maps.LatLng(37.3541, -121.9552));
        locationToLatLong.set("monterey, california", new google.maps.LatLng(36.6002, -121.8947));
        locationToLatLong.set("fresno, california", new google.maps.LatLng(36.7378, -119.7871));
        locationToLatLong.set("helena, montana", new google.maps.LatLng(46.5891, -112.0391));
        locationToLatLong.set("chicago, illinois", new google.maps.LatLng(41.8781, -87.6298));

    }

    function parseRows() {
        if (!mapInitialized) return;
        removePreviousMarkers();
        $( ".even,.odd" ).each(function() {
            var firstName = $(this).find("td").eq(0).html();
            var lastName = $(this).find("td").eq(1).html();
            var city = $(this).find("td").eq(3).html();  
            var state = $(this).find("td").eq(4).html();  
            if (city != undefined && state != undefined) {
                createMarker(city, state, firstName + " " + lastName);
            }
        });
    }

    function removePreviousMarkers() {
        for (var t = 0; t < markers.length; t++) {
            var marker = markers[t];
            marker.setMap(null); // hide markers
        }
        markers = new Array(); // and delete markers by removing the references to them
    }

    function createMarker(city, state, name) {
        var employeeLocation = city + ", " + state;
        var latLong = locationToLatLong.get(employeeLocation.toLowerCase());
        if (latLong == undefined) {
            codeAddress(employeeLocation, name); // will find location here and add it to the table
        }
        else {
            addMarker(latLong, name);
        }
    }
    
    function codeAddress(address, name) {
        geocoder.geocode( { 'address': address}, function(results, status) {
            if (status == 'OK') {
                map.setCenter(results[0].geometry.location);
                addMarker(results[0].geometry.location), name;
                // add location to hashmap for later lookup without querying the api
                locationToLatLong.set(address.toLowerCase(), results[0].geometry.location);
            } 
            else {
                // alert('Geocode was not successful for the following reason: ' + status);
                // don't care
            }
        });
    }

    function addMarker(location, name) {
        var marker = new google.maps.Marker({
            map: map,
            position: location,
            title: name
        });
        markers.push(marker);
    }



</script>

{%endblock%}