{%extends 'generalPageStyledLeftColumn.html'%}


{%block mainBlock%}


<div class="row">
    <div class="col-sm-2">
        <div class="row">
            <div class="col">
                <form action="/FilterSearch" method="GET" id="filterForm">
                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter1" id="filterName">
                            Registered License
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter1">
                        {% for license in licenseData %}
                        <input type="checkbox" name="filter1" value="{{license[1]}}"> {{license[1]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter2">
                            Skill
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter2">
                        {% for skill in skillData %}
                        <input type="checkbox" name="filter2" value="{{skill[1]}}"> {{skill[1]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter3">
                            Skill Level
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter3">
                        {% for skillLevel in skillLevelData %}
                        <input type="checkbox" name="filter3" value="{{skillLevel[0]}}"> {{skillLevel[0]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter4">
                            States
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter4">
                        {% for location in locationData %}
                        <input type="checkbox" name="filter4" value="{{location[0]}}"> {{location[0]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter5">
                            Last Name
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter5">
                        <div class="form-group">
                            <input type="name" name="filter5" class="form-control" id="exampleFormControlInput1"
                                placeholder="Last Name">
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <div class="col-10">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#employeeList" role="tab" aria-controls="home"
                    aria-selected="true">Employee Results </a>
                <!-- <button class="btn btn-link">Test</button> -->
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#map" role="tab" aria-controls="profile"
                    aria-selected="false">Map</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="employeeList" role="tabpanel" aria-labelledby="home-tab">
                <p>Table goes here</p>
            </div>
            <div class="tab-pane fade" id="map" role="map" aria-labelledby="profile-tab">
                <style type="text/css">
                    #lmap {
                         height: 400px; 
                         width: auto;
                    }
                </style>
                <div id="lmap"></div>
            </div>
        </div>
    </div>
</div>

<script>
    var dataTable = [];

    jQuery(document).ready(function ($) {


        function fetchResults(formId, elementId) {
            data = {};
            if (formId != '') {
                data = $(formId).serialize();
            }
            $.ajax({
                url: '/FilterSearch',
                type: 'GET',
                data: data,
                dataType: 'json',
                success: function (data) {
                    html = data.html;
                    $(elementId).html(html);
                    $(elementId).trigger('change');
                    parseRows(); // ideally read this from the json instead of the page
                },
                error: function (request, error) {
                    $(elementId).html('<div class="alert alert-danger mt-4">Request Failed</div>');
                }
            });
        }

        $('#filterForm input').click(function (e) {
            fetchResults('#filterForm', '#employeeList')
        });

        $('#employeeList').change(function () {
            console.log('Fix datatable');
            for (i = 0; i < dataTable.length; i++) {
                if (dataTable[i] != null) {
                    dataTable[i].destroy();
                }
                dataTable[i] = null;
            }
            let dataTableTemp = $('table.data-table').DataTable({
                searching: false,
                stateSave: true,
                fixedHeader: true,
                paging: false
            });
            dataTable.push(dataTableTemp);
        });


        // fetch results when page first loads
        fetchResults('#filterForm', '#employeeList');

        // ensure map displays properly once its tab is switched to
        // kludgey
        $('#profile-tab').click(function (e) {
            setTimeout(function () {
                //window.dispatchEvent(new Event('resize'));
                map.invalidateSize();
                centerMap();
            }, 1000);
        });
    });

    var mapInitialized = false;
    var locationToLatLong = new Map();
    var markers = new Array();

    var map;

    window.addEventListener('load', (event) => {
        initMap();
    });
    
    function initMap() {
        populateHashmap(); // TODO read from an external file of some sort
        const wyo = { lat: 41.3114, lng: -105.5911 };
        // The map, centered at Laramie
        map = L.map('lmap').setView([wyo.lat, wyo.lng], 5);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 11,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
            accessToken: 'pk.eyJ1IjoiYmV0aGFueW1hZXR3IiwiYSI6ImNrbmFxcmk5ZjFrODYycW4xeTU5anhoY2oifQ.FOS2abK6UM4wKEaupspEig'
        }).addTo(map);
        mapInitialized = true;
    }

    // preseed some locations until we can get them from the database
    function populateHashmap() {
        locationToLatLong.set("laramie, wyoming", {lat: 41.3114, lng: -105.5911});
        locationToLatLong.set("casper, wyoming", {lat: 42.8501, lng: -106.3252});
        locationToLatLong.set("sheridan, wyoming", {lat: 44.7972, lng: -106.9562});
        locationToLatLong.set("jackson, wyoming", {lat: 43.4799, lng: -110.7624});
        locationToLatLong.set("cheyenne, wyoming", {lat: 41.1400, lng: -104.8202});
        locationToLatLong.set("lander, wyoming", {lat: 42.8330, lng: -108.7307});
        locationToLatLong.set("fort collins, colorado", {lat: 40.5853, lng: -105.0844});
        locationToLatLong.set("boulder, colorado", {lat: 40.0150, lng: -105.2705});
        locationToLatLong.set("santa clara, california", {lat: 37.3541, lng: -121.9552});
        locationToLatLong.set("monterey, california", {lat: 36.6002, lng: -121.8947});
        locationToLatLong.set("fresno, california", {lat: 36.7378, lng: -119.7871});
        locationToLatLong.set("helena, montana", {lat: 46.5891, lng: -112.0391});
        locationToLatLong.set("chicago, illinois", {lat: 41.8781, lng: -87.6298});
    }

    function parseRows() {
        if (!mapInitialized) return;
        removePreviousMarkers();
        $( ".even,.odd" ).each(function() {
            var firstName = $(this).find("td").eq(0).html();
            var lastName = $(this).find("td").eq(1).html();
            var city = $(this).find("td").eq(3).html();  
            var state = $(this).find("td").eq(4).html();  
            if (city != undefined && state != undefined) {
                createMarker(city, state, firstName + " " + lastName);
            }
        });
        centerMap();
    }

    function centerMap() {
        var latLngs = [];
        for (var t = 0; t < markers.length; t++) {
            latLngs.push(markers[t].getLatLng())
        }
        if (latLngs.length > 0) {
            var markerBounds = L.latLngBounds(latLngs);
            map.fitBounds(markerBounds);
        }
    }

    function removePreviousMarkers() {
        for (var t = 0; t < markers.length; t++) {
            var marker = markers[t];
            map.removeLayer(marker);
        }
        markers = new Array(); // and delete markers by removing the references to them
    }

    function createMarker(city, state, name) {
        var employeeLocation = city + ", " + state;
        var latLong = locationToLatLong.get(employeeLocation.toLowerCase());
        if (latLong == undefined) {
            lookupAddress(); // is a stub
            //need to get from database.  not using Google stuff anymore
        }
        else {
            addMarker(latLong, name);
        }
    }
    
    function lookupAddress(address, name) {
        if (true) return; // create this function
        var result;
        locationToLatLong.set(address.toLowerCase(), result);
        addMarker(result);
    }

    function addMarker(location, name) {
        var marker = L.marker([location.lat, location.lng],
            {title: name}
        ).addTo(map);
        //marker.bindPopup("<b>" + name + "</b>").openPopup();
        // TODO if we had employee pictures we could set the marker icon
        // to that picture
        markers.push(marker);
    }



</script>

{%endblock%}