{%extends 'generalPageStyled.html'%}


{%block mainBlock%}


<div class="row">
    <div class="col-sm-2">
        <div class="row">
            <div class="col">
                <form action="/FilterSearch" method="GET" id="filterForm">
                    <div class="card card-body">
                        Find employees with 
                        <select name="filter6">
                            <option value="and">all filters (employee search)</option>
                            <option value="or">any filter (team builder)</option>
                        </select>
                    </div>
                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter1" id="filterName">
                            Registered License
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter1">
                        <div style="height: 200px; overflow-y: scroll;">
                            {% for license in licenseData %}
                            <input type="checkbox" name="filter1" value="{{license[1]}}"> {{license[1]}} <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card">
                        <a class="card-header" data-toggle="collapse" href="#filter2">
                            Skill
                        </a>
                    </div>
                    <div class="card-body collapse" id="filter2">
                        <div style="height: 200px; overflow-y: scroll;">
                            {% for skill in skillData %}
                            <input type="checkbox" name="filter2" value="{{skill[1]}}"> {{skill[1]}} <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter3">
                            Skill Level
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter3">
                        {% for skillLevel in skillLevelData %}
                        <input type="checkbox" name="filter3" value="{{skillLevel[0]}}"> {{skillLevel[0]}} <br>
                        {% endfor %}
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter4">
                            States
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter4">
                        <div style="height: 200px; overflow-y: scroll;">
                            {% for location in locationData %}
                            <input type="checkbox" name="filter4" value="{{location[0]}}"> {{location[0]}} <br>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="card">
                        <!--<div class="card-header">-->
                        <a class="card-header" data-toggle="collapse" href="#filter5">
                            Last Name
                        </a>
                        <!--</div>-->
                    </div>
                    <div class="card-body collapse" id="filter5">
                        <div class="input-group">
                            <input type="name" name="filter5" class="form-control" id="exampleFormControlInput1"
                                placeholder="Last Name">
                            <button class="btn btn-primary orangeBtn" type="button" id="lastNameSearch">Search</button>
                        </div>
                    </div>
                </form>
                <button type="button" class="btn btn-primary orangeBtn mt-4" download="Data.csv" onclick="ExportEmployees()">Export Data</button>
            </div>
        </div>

    </div>
    <div class="col-10">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#employeeList" role="tab"
                    aria-controls="home" aria-selected="true">Employee Results </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#map" role="tab" aria-controls="profile"
                    aria-selected="false">Map</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="employeeList" role="tabpanel" aria-labelledby="home-tab">
                <p>Table goes here</p>
            </div>
            <div class="tab-pane fade" id="profile" role="map" aria-labelledby="profile-tab">
                <p>Map goes here</p>
            </div>
        </div>
    </div>
</div>

<script>
    var dataTable = [];

    jQuery(document).ready(function ($) {


        function fetchResults(formId, elementId) {
            data = {};
            if (formId != '') {
                data = $(formId).serialize();
            }
            $.ajax({
                url: '/FilterSearch',
                type: 'GET',
                data: data,
                dataType: 'json',
                success: function (data) {
                    html = data.html;
                    $(elementId).html(html);
                    $(elementId).trigger('change');
                },
                error: function (request, error) {
                    $(elementId).html('<div class="alert alert-danger mt-4">Request Failed</div>');
                }
            });
        }

        $('#filterForm input').click(function (e) {
            fetchResults('#filterForm', '#employeeList')
        });

        $('#lastNameSearch').click(function (e){
            fetchResults('#filterForm', '#employeeList')
        });

        $('#employeeList').change(function () {
            for (i = 0; i < dataTable.length; i++) {
                if (dataTable[i] != null) {
                    dataTable[i].destroy();
                }
                dataTable[i] = null;
            }
            let dataTableTemp = $('table.data-table').DataTable({
                language: {
                    search: "Filter:"
                },
                stateSave: true,
                fixedHeader: true,
                paging: false
            });
            dataTable.push(dataTableTemp);
        });


        // fetch results when page first loads
        fetchResults('#filterForm', '#employeeList')


    });

    function ExportEmployees(){
        //src: https://stackoverflow.com/questions/14964035/how-to-export-javascript-array-info-to-csv-on-client-side
        // const rows = [
        //     ["name1", "city1", "some other info"],
        //     ["name2", "city2", "more info"]
        // ];
        var CSV_Rows = [];
        var OurTable = document.getElementById("EmployeeTable");
        var TableRows = OurTable.getElementsByTagName('tr');
        for (var i = 0; i < TableRows.length; i++) {
            var RowData = TableRows[i].getElementsByTagName('td');
            var RowDataArray = [];
            for(var j=0;j<RowData.length;j++){
                RowDataArray.push('"'+RowData[j].innerText+'"');
            }
            CSV_Rows.push(RowDataArray);
        }

        console.log('Found '+CSV_Rows.length+' rows of data in the table');
        console.log(CSV_Rows);

        let csvContent = "data:text/csv;charset=utf-8,";

        CSV_Rows.forEach(function(rowArray) {
            let row = rowArray.join(",");
            csvContent += row + "\r\n";
        });

        // var encodedUri = encodeURI(csvContent);
        // console.log(encodedUri);
        // window.open(encodedUri);
        var encodedUri = encodeURI(csvContent);
        var link = document.createElement("a");
        link.setAttribute("href", encodedUri);
        link.setAttribute("download", "EmployeeData.csv");
        document.body.appendChild(link); // Required for FF

        link.click(); // This will download the data file named "my_data.csv".

    }
</script>

{%endblock%}