{%extends 'generalPageStyledLeft Column.html'%}


{%block mainBlock%}
<h2>Delete Employees</h2>
<form id='myForm' onsubmit="return loadName()">
  <label>First name:<input type = "text" name = "firstName"><br></label>
  <label>Last name:<input type = "text" name = "lastName"><br></label>
  <button type = "submit"> submit </button>
</form>

<script>
    function loadName() {
        var firstName = document.forms["myForm"]["firstName"].value;
        var lastName = document.forms["myForm"]["lastName"].value;
        params = 'firstName=' + firstName + '&lastName=' + lastName;
        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", '/Employee/DeleteEmployee', true); // true is asynchronous
        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
        xhttp.onload = function () {
            if (xhttp.readyState === 4 && xhttp.status === 200) {
                console.log(xhttp.responseText);
                document.getElementById("txt").innerHTML = xhttp.responseText;
            } else {
                console.error(xhttp.statusText);
            }
        };
        xhttp.send(params);
        return false;
    }

</script>

{%endblock%}
