/*
These are the colors used by Trihydro
 #8A1F03 (dark red) used in logo
 #000000 (black) used for some text and in logo
 #62859E (blue) only found in photos on page
 #656565 (gray) used as foot element on page and in menu
 #AB5236 (orange) used as offset backgroun in page
 #F1F1F2 (off white) used for background and text
 #829825 (green) used for footer and some buttons
 */

 /*
 Add this link to every html page for favicon
 <link rel="shortcut icon" type="image/png" href="static/img/favicon.png"/>
 */

.column {
    border: 2px blue solid;
}

main > .container {
  padding: 60px 15px 0;
}
/*Styles footer to match Trihydro webpage*/
footer {
  background-color: #829825;
  position: fixed;
  left: 0;
  bottom: 0;
  padding-bottom: 20px;
  width: 100%;
  color: #F1F1F2;
  text-align: center;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#pageContent{
    padding: 10px;
}

.card-header:hover{
    background-color: #829825;
    color: white;
    text-decoration: none;
}

.card-header{
    color: black;
}

#export, #export:hover, #export:active, #export:visited {
  background-color: #ab5236 !important;
  border-color: #ab5236;
}
